#if($entityConfig.swaggerModelEnabled)
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if ($entityConfig.serializable)
import java.io.Serializable;
#end
#if(${entityConfig.lombokEnabled})
import lombok.Data;
#end
#if($entityConfig.swaggerModelEnabled)
@ApiModel("$entityConfig.apiModelName")
#end
#if(${entityConfig.lombokEnabled})
@Data
#end
public class ${entityConfig.entityName} #if ($entityConfig.isSerializable) implement Serializable #end{
#set($i=0)
#foreach($field in $entityConfig.fieldList)
    /**${field.comment}**/
    private ${field.propertyType} ${field.propertyName};
    #set($i=$i+1)
#end

}
